<div class="notice splash">
	<div class="confirm align">
		
		<h1 id="notice-header">Please Note:</h1>
		
		<div class="lead">

			<p id='message-center'>This app uses texting and is free to use. However, whatever your carrier normally charges to receive text messages still applies (most cell phone plans include unlimited texting).</p>
			
		</div>
		
		<div class ='pure-form-stacked'>

			<a href='/' type="button" id="back" class="pure-button cta delete notice">Go Back</a>

			<a id="acknowledge" href='/login' type="button" class="pure-button cta">Got it!</a>

		</div>
		
	</div>
</div>