<div class="phone splash">
	<div class="phone align">
		<%= form_for(:user, url: {action: "login"}, html: {class: "pure-form pure-form-stacked", id:'continue' }) do |f| %>
			<label class="lead">Please enter your cell phone number below:</label>
  		<%= f.text_field :phone, placeholder: '2225559909', id: "phone-number", maxlength: "10" %>
  		<br>
  		<input class="pure-button cta" type="submit" value="Continue">
		<% end %>
		<br><br><br>

			<label class="lead">Or log in with your Pin:</label>
  		<input class="pure-button cta" type="submit" value="Log in" id="show-form">
		<%= form_for(:user, url: {action: "profile"}, html: {class: "pure-form pure-form-stacked", id:'show' }) do |f| %>
			<label class="lead">Please enter your pin:</label><br> 
  		<%= f.text_field :pin, placeholder: '1234', id: "pin-number", maxlength: "4" %>
  		<br>
  		<input class="pure-button cta" type="submit" value="Continue">
		<% end %>
	</div>
</div>


	

	



