<div class="home splash">
	<div class="align">
		
		<h1 id="slogan">Get to work on time, every time.</h1>
		
		<div class="lead">

			<p>RightOnTracker sends you the CTA train departure times of your choice automatically. Sign up, pick your stop and time, and get texted your train's information. That's it!</p>
		
		</div>

		<p>
			<!-- <a href='/notice' type="button" class="pure-button cta">Get Started</a> -->
			<type="button" class="pure-button cta"><%= link_to 'Get Started', session_notice_path %>
		</p>
	
	
	</div>
</div>