<div class="confirm splash">
	<div class="confirm align">
		
		<div class="lead">
			
			<p id='message-center'>Enter your pin below or click 'Receive Pin' to be texted a new one.</p>
		
		</div>

		<%= form_for(:user, url: {action: "profile"}, html: {class: 'pure-form pure-form-stacked', id: "submit-pin"}) do |f| %>

			<%= f.text_field :password_digest, placeholder: "Enter your pin", id: "pin", name: "pin", autofocus: true, maxlength: 4, :value => "" %>

			<input class="pure-button cta" type="submit" value="Submit Pin">
			<%end%>

		<%= form_for(:user, url: {action: "code"}, html: {id: "recieve-pin"}) do |f| %>
			<input class="pure-button cta" type="submit" value="Receive Pin">
			<%end%>
	</div>
</div>